
table {

    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {

    text-align: left;
    padding: 8px;
}
td.small{
    width: 70px;
}
tr:nth-child(even) {
    background-color: var(--sec-bg-color);

}
tr:nth-child(odd){
    background-color: var(--th-bg-color);
}

img.status{
    width: 50px;

}

.setTemp{
    background-color: var(--th-bg-colorD);
    border: 2px solid var(--th-bg-colorD);
    border-radius: 4px;
    text-align: right;
}
.invisTab{
    background-color: transparent;
    border: transparent;
}

/* Dropdown Button */
.dropbtn, .dropbtn:focus, .dropbtn:active{
    background-color: var(--fh-bg-color);
    color: white;
    padding: 10px;
    font-size: 24px;
    border: none;
    cursor: pointer;
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
    box-shadow: 10px 10px 5px #a8a8a8;
}

/* Dropdown button on hover & focus */
.dropbtn:hover{
    background-color: var(--fh-bg-colorD);
    box-shadow: 5px 5px 5px #a8a8a8;
}


.rBut{
    font-size: 40px;
}
label.rBut:hover{
    color: crimson;
}

.posbtn:hover, .dropbtn:focus {
    background-color: #025c83;
    /*box-shadow: 5px 5px 5px #a8a8a8;*/
}